.container
  = render "shared/header"

  .content
    = link_to "← Task詳細へ戻る", board_task_path(@board, @task), class: "back-link"

    %h2.page-title Edit Task
    
    - if @task.errors.any?
      .error-message
        %ul
          - @task.errors.full_messages.each do |message|
            %li= message

    = form_with model: [@board, @task], local: true do |f|
      .field
        = f.label :title
        = f.text_field :title, class: 'text'
      .field
        = f.label :content
        = f.text_area :content, class: 'text'
      .field
        = f.label :deadline
        = f.date_field :deadline, class: "text"
      .actions
        = f.submit "Update", class: 'btn-primary'