.container
  .header
    = link_to "Boards", root_path, class: "header-title"

  .content
    = link_to "← Board詳細へ戻る", board_path(@board), class: "back-link"

    %h2.page-title New Task

    - if @task.errors.any?
      .error-message
        %ul
          - @task.errors.full_messages.each do |message|
            %li= message

    = form_with model: [@board, @task], local: true do |f|
      .field
        = f.label :title
        = f.text_field :title, class: "text"

      .field
        = f.label :content
        = f.text_area :content, class: "text"

      .field
        = f.label :deadline
        = f.date_field :deadline, class: "text"

      .field
        = f.label :eyecatch
        = f.file_field :eyecatch, class: "text"

      .actions
        = f.submit "Submit", class: "btn-primary"