.container
  = render "shared/header"

  .content
    = link_to "← Board詳細へ戻る", board_path(@board), class: "back-link"

    .task-card
      .task-card-header
        %h2.task-title= @task.title

        - if @task.user == current_user
          .task-menu
            %span.menu-icon ⋯

            .menu-content
              = link_to "編集する",
                edit_board_task_path(@board, @task),
                class: "menu-item"

              = button_to "削除する",
                board_task_path(@board, @task),
                method: :delete,
                data: { turbo_confirm: "本当に削除しますか？" },
                class: "menu-item delete-button"

      - if @task.eyecatch.attached?
        = image_tag @task.eyecatch, class: "task-eyecatch"

      %p.task-content= @task.content

      %p.task-deadline
        🗓️
        = @task.deadline

      .task-card-footer
        = link_to profile_path do
          - if @task.user.avatar.attached?
            = image_tag @task.user.avatar, class: "header-avatar"
          - else
            = image_tag "default-avatar.png", class: "header-avatar"

          %span.task-user= @task.user.email
    
    .comment-card
      %h3 Comments

      - if @comment.errors.any?
        .error-message
          %ul
            - @comment.errors.full_messages.each do |message|
              %li= message

      .comments
        - @comments.each do |comment|
          .comment
            .comment-header
              = link_to profile_path do
                - if current_user.avatar.attached?
                  = image_tag current_user.avatar, class: "header-avatar"
                - else
                  = image_tag "default-avatar.png", class: "header-avatar"
              %span.comment-user= comment.user.email
            %p.comment-content= comment.content

      .comment-form
        %h3.comment-form-title Write a comment

        = form_with model: [@board, @task, @comment], local: true do |f|
          .field
            = f.text_area :content,
                class: "comment-textarea",
                placeholder: "コメントを入力..."

          .actions
            = f.submit "コメントを投稿", class: "btn-primary"