.container
  .header
    .header-left
      = link_to "Boards", root_path, class: "header-title"
      = image_tag "default-avatar.png", class: "header-avatar"

    .header-actions
      - if user_signed_in?
        = button_to "Log out",
          destroy_user_session_path,
          method: :delete,
          class: "logout-button"

  .content
    %h2.page-title All Boards

    - @boards.each do |board|
      .board-card
        .board-card-header
          %h3.board-title
            = link_to board.title, board_path(board), class: "board-title-link"

          .board-menu
            %span.menu-icon ⋯

            .menu-content
              = link_to '編集する', edit_board_path(board), class: "menu-item"

              = button_to "削除する",
                board_path(board),
                method: :delete,
                data: { turbo_confirm: "本当に削除しますか？" },
                class: "menu-item delete-button"

        %p.board-description= board.description

        .board-card-footer
          .board-user-info
            = image_tag "default-avatar.png", class: "board-avatar"
            %span.board-user= board.user.email

    = link_to new_board_path, class: "new-board" do
      + Add new board