.container
  = render "shared/header"

  .content
    = link_to "← Boards一覧へ", root_path, class: "back-link"

    %h2.page-title New Boards

    - if @board.errors.any?
      .error-message
        %ul
          - @board.errors.full_messages.each do |message|
            %li= message

    = form_with model: @board, local: true do |f|
      .field
        = f.label :title
        = f.text_field :title, class: 'text'
      .field
        = f.label :description
        = f.text_area :description, class: 'text'
      .actions
        = f.submit "Submit", class: 'btn-primary'