.container
  = render "shared/header"

  .content
    = link_to "← Boards一覧へ", root_path, class: "back-link"

    .board-card
      .board-card-header
        %h2.board-title= @board.title

        - if @board.user == current_user
          .board-menu
            %span.menu-icon ⋯

            .menu-content
              = link_to "編集する",
                edit_board_path(@board),
                class: "menu-item"

              = button_to "削除する",
                board_path(@board),
                method: :delete,
                data: { turbo_confirm: "本当に削除しますか？" },
                class: "menu-item delete-button"

      %p.board-description= @board.description

      .board-card-footer
        - if @board.user.avatar.attached?
          = image_tag @board.user.avatar, class: "header-avatar"
        - else
          = image_tag "default-avatar.png", class: "header-avatar"

        %span.board-user= @board.user.email

    .tasks
      %h2.tasks-title Tasks

      - if @tasks.any?
        - @tasks.each do |task|
          .task-card
            .task-card-header
              = link_to task.title, board_task_path(@board, task), class: "task-title-link"

              - if task.user == current_user
                .task-menu
                  %span.menu-icon ⋯

                  .menu-content
                    = link_to "編集する",
                      edit_board_task_path(@board, task),
                      class: "menu-item"

                    = button_to "削除する",
                      board_task_path(@board, task),
                      method: :delete,
                      data: { turbo_confirm: "本当に削除しますか？" },
                      class: "menu-item delete-button"
            
            - if task.eyecatch.attached?
              = image_tag task.eyecatch, class: "task-card-eyecatch"

            %p= task.content

            %p.task-deadline
              🗓️
              = task.deadline

      - else
        %p タスクはまだありません

      = link_to "+ Add new task", new_board_task_path(@board), class: "new-task"